.profile__background {
    width: 100%;
}

.profile__background_img {
  background-image: url('https://images.pexels.com/photos/572487/pexels-photo-572487.jpeg?cs=srgb&dl=backgrounds-close-up-close-up-colors-572487.jpg&fm=jpg');
  /* background-attachment: fixed; */
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}