.dialogs {
    display: grid;
    grid-template-columns: minmax(max-content, 240px) 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'list dialogs' 
                         'list dialogs';
    /* max-height: 93vh; */
    min-height: min-content;
    position: relative;
}


.list__friends {
    grid-area: list;
    box-shadow: .9px 0px 3px rgb(73, 73, 73);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.dialogs__window {
    grid-area: dialogs;
    height: min-content;
}

.dialogs__window_top {
    padding: 15px 5px;
    border-bottom: 1px solid #000;
    background-color: rgb(230, 230, 230);
}

.dialogs__window_top p {
    font-size: 20px;
    font-style: italic;
    color: rgb(10, 109, 43);
    padding-left: 15px ;}

.dialogs__window_main {
    padding: 15px;
    overflow-y: scroll;
    height: 90vh;
}

.dialogs__bottom {
    display: flex;
    position: sticky;
    bottom: 0;
    width: 100%;
    
}

.dialogs__bottom input {
    width: 93.1%;
    height: 55px;
    outline: none;
    padding: 0;
    margin: 0;
    border: 3px 10px black;
}

.dialogs__bottom button {
    padding: 0;
    margin: 0;
    width: 5%;
    background-color: rgb(28, 150, 221);
    color: #fff;
    font-size: 20px;
    border: none;
}