.header {
    background-color: rgb(238, 238, 238);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #000;
    align-items: center;
}


.header__link {
    text-decoration: none;
    color: #000;
}