.profileInfo {
    background-color: white;
    width: 450px;
    margin-top: 30px;
    margin-left: 60px;
    padding: 15px;
    color: rgb(110, 110, 110);
    border-radius: 10px;
}

.profileInfroTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.profileInfroTop h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.socialLinks {
    display: block;
    color: darkkhaki;
    margin-bottom: 4px;
}

.aboutMe {
    color: darkslateblue;
    margin-bottom: 10px;
}